.hvr-border {
  border: 1px solid;
}

.hvr-border-white {
  border: 1px solid transparent;
}

.hvr-border-white:hover {
  border: 1px solid white;
}

.hvr-border-gray {
  border: 1px solid transparent;
}

.hvr-border-gray:hover {
  border: 1px solid #777;
}
